.mroveissi-slideshow-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0px;
  left: 0px;
  border: 1px solid #d1d1d1;
  background-color: #FFF;
  direction: ltr;
  text-align: right;
}
.mroveissi-slideshow-canvas ,
.mroveissi-slideshow-canvas * {
  box-sizing: border-box;
  position: relative;
}
.mroveissi-slideshow-canvas .panel {
  position: absolute;
  background-color: #f8f8f8;
}
.mroveissi-slideshow-canvas .panel.panel-top {
  width: 100%;
  min-height: 42px;
  height:auto;
  border-bottom: 1px solid #d1d1d1;
}